<div class="login-container">
  <h2><i class="fas fa-sign-in-alt"></i> Connexion</h2>
  <form (ngSubmit)="login()" class="login-form">
    <div class="input-group">
      <i class="fas fa-envelope icon"></i>
      <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
    </div>
    <div class="input-group">
      <i class="fas fa-lock icon"></i>
      <input type="password" [(ngModel)]="motDePasse" name="motDePasse" placeholder="Mot de passe" required />
    </div>
    <button type="submit"><i class="fas fa-arrow-right"></i> Se connecter</button>
  </form>
</div>
