<div class="home-container">
    <h1>Bienvenue dans le système de gestion de stock</h1>
    <p class="subtitle">Choisissez une section pour commencer :</p>
  
    <div class="card-grid">
  
      <a routerLink="/entrepots" class="card">
        <h2>Gérer Entrepôts</h2>
        <p>Créer, modifier et visualiser les entrepôts.</p>
      </a>
  
      <a routerLink="/mouvements" class="card">
        <h2>Gérer Mouvements de Stock</h2>
        <p>Ajouter des entrées ou des sorties de produits.</p>
      </a>
  
      <a routerLink="/Produits" class="card">
        <h2>Gérer Produits</h2>
        <p>Gérer la liste des produits disponibles.</p>
      </a>
  
      <a routerLink="/stock" class="card">
        <h2>Consulter Stock</h2>
        <p>Visualiser l’état du stock par entrepôt et produit.</p>
      </a>
  
    </div>
  </div>
  