.container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  .title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #2c3e50;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 16px;
  }
  
  .form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.3s ease;
  }
  
  .form button:hover {
    background-color: #2980b9;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .table th {
    background-color: #f8f8f8;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
  }
  .form select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 16px;
    background-color: white;
    appearance: none; /* supprime le style natif du navigateur */
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  label {
    font-weight: 600;
    margin-bottom: 4px;
    color: #333;
  }
  .alert {
  background-color: #d1ecf1;
  color: #600c0c;
  border: 1px solid #bee5eb;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}
